mixin footer()
    footer.bg-primary.pt-50.pb-50
        .container.mx-auto.pl-20.pr-20(class="md:pl-50 md:pr-50")
            hr.border-grey-dark
            .grid.gap-20.pb-20.pt-50(class="md:grid-cols-2")
                p.text-white.text-base #{__('footer.copyright')}.
                p.text-right.text-white.text-base #{__('footer.made_with_love')}.
